/* color palette */

/*
whiteLight rgb(255, 255, 255)
blackOnyx rgb(33, 33, 33)
greyDark rgb(117, 117, 117)
greyLight rgb(189, 189, 189)
blueDeep rgb(65, 90, 122)
greenDark rgb(70, 97, 29)
greenMiddle rgb(144, 174, 89)
greenLight rgb(187, 213, 136)
yellowGold rgb(223, 175, 64)
*/

/* navbar additional styling */

.navbar {
    padding-right: 2rem!important;
}

.navbar-brand img {
  height: 2.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
}

.nav-link {
  color: rgb(117, 117, 117);
}

.nav-link:hover {
  color: rgb(33, 33, 33);
}

.nav-link:active {
  color: rgb(33, 33, 33);
}

/* navbar dropdown color */

.dropdown .dropdown-menu.header-drop .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-primary .dropdown-item:active {
  background-color:  rgb(70, 97, 29); }

/* secondary nav pills */

#checkin-copy .pills-secondary .nav-item .nav-link.active, .tabs-secondary {
  background-color: rgb(144, 174, 89);
}

#checkin-copy .pills-secondary {
  font-size: .9rem;
  font-weight: 400;
}

#checkin-copy .main-content {
  padding-top: 2.75%;
}

#checkin-copy .main-content .tab-content {
  padding: 0rem 1rem;
}

/*info cards*/

#checkin-copy .student-list {
  padding-right: 10px;
  padding-left: 10px;
}

#checkin-copy .student-list .nav-item .nav-link.active, .tabs-secondary {
  background-color: rgb(223, 175, 64);
}

#checkin-copy .second-level-navpills {
    margin-left: -.5rem;
}

#checkin-copy .student-list .nav-link {
  font-size: .9rem;
  font-weight: 400;
}

#checkin-copy .expecting-general-seen li {
  padding-left: .5rem;
}

#checkin-copy .student-list .card {
  height: 60vh;
}

/* expected students table */

#checkin-copy .table-wrapper-2 {
  display: block;
  max-height: 60vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#checkin-copy .yellowGold-text {
  color: rgb(223, 175, 64);
}


/* expected students table headers */

#checkin-copy table .th-lg {
  min-width: 5rem;
}

/* Student Id Card 1.1 */

/* animation */

#animateID {
  width: 100%;
  transition: width .8s;
  transition-timing-function: ease;
}

#animateID.on {
  width: 150%;
}

#checkin-copy #student-id-checkincopy .card img {
  max-width: 8rem;
}

#checkin-copy .student-id .card {
  min-height: 60vh;
  margin-top: 3.5rem;
  padding-top: .5rem;
}

#checkin-copy .student-id .list-group-item {
  font-size: .95rem;
  font-weight: 300;
}

/* footer */

#checkin-copy footer.page-footer {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#checkin-copy .page-footer .card {
  height: 12vh;
}
