/* color palette */

/*
whiteLight rgb(255, 255, 255)
blackOnyx rgb(33, 33, 33)
greyDark rgb(117, 117, 117)
greyLight rgb(189, 189, 189)
blueDeep rgb(65, 90, 122)
greenDark rgb(70, 97, 29)
greenMiddle rgb(144, 174, 89)
greenLight rgb(187, 213, 136)
yellowGold rgb(223, 175, 64)
*/


/* navbar additional styling */

.navbar {
    padding-right: 2rem!important;
}

.navbar-brand img {
  height: 2.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
}

.nav-link {
  color: rgb(117, 117, 117);
}

.nav-link:hover {
  color: rgb(33, 33, 33);
}

.nav-link:active {
  color: rgb(33, 33, 33);
}


/* main-content */

.main-content {
  padding-top: 2.75%;
}


/* navbar dropdown color */

.dropdown .dropdown-menu.header-drop .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-primary .dropdown-item:active {
  background-color:  rgb(70, 97, 29); }

/* secondary nav pills */

#administeredmedication .pills-secondary .nav-item .nav-link.active, .tabs-secondary {
  background-color: rgb(144, 174, 89);
}

#administeredmedication .pills-secondary {
  font-size: .9rem;
  font-weight: 400;
}

#administeredmedication .main-content .tab-content {
  padding: 0rem 1rem;
}

/* student-list collapsed */

#administeredmedication .collapsed-student {
  margin-top: .6rem;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 5rem;
}

#administeredmedication .student-list-collapsed {
  min-height: 65vh;
}

#administeredmedication .card-body.student-list-collapsed {
  padding: 0rem;
}

#administeredmedication .student-list-collapsed h5 {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#administeredmedication .fa-toggle-right {
  font-size: 2.5rem;
  padding-top: 1rem;
}

#administeredmedication .vertical-student-list-text {
  color: rgb(223, 175, 64);
}

/* demo toggle button click */

a:link, a:visited, a:hover, a:active  {
    text-decoration: none !important;
    color: black;
}

/* Student Id Card 1.2 */

#administeredmedication  .tab-content .student-id-tab {
    padding: 0rem 0rem;
    margin-top: -1.5rem;
}

#administeredmedication .student-info .pills-secondary .nav-item .nav-link.active, .tabs-secondary {
  background-color: rgb(223, 175, 64);
  max-width: 10rem;
}

#administeredmedication .second-level-navpills {
    margin-left: -.5rem;
}

#administeredmedication #student-id-post-checkincopy .card img {
  max-width: 35%;
}

#administeredmedication .student-id .card {
  min-height: 60vh;
  padding-top: .5rem;
}

#administeredmedication .student-id .list-group-item {
  font-size: .95rem;
  font-weight: 300;
}

/* Daily Visit */

#administeredmedication #gavemed {
  background-color: rgb(189, 189, 189);
  color: white !important;
  border: none;
}

#administeredmedication .tab-content .daily-visit-tab {
  padding: 0rem 0rem;
}

#administeredmedication .daily-visit .pills-secondary .nav-item .nav-link.active, .tabs-secondary {
  background-color: rgb(223, 175, 64);
  max-width: 10rem;
}

#administeredmedication #daily-visit-panel-nav .pills-secondary .nav-item .nav-link.active, .tabs-secondary {
  background-color: rgb(70, 97, 29);
  max-width: 10rem;
}

#administeredmedication .daily-visit .nav-link {
  font-size: .9rem;
  font-weight: 400;
}

#administeredmedication #daily-visit-panel-nav .md-pills li {
  padding: .6rem .1rem;
}

#administeredmedication #daily-visit-panel-nav {
  margin-top: -.75rem;
}

/* Daily Visit Input Forms */

#administeredmedication .daily-visit-select-text {
    font-size: 1rem;
    font-weight: 300;
}

#administeredmedication .select-wrapper input.select-dropdown {
    font-size: 1rem;
    font-weight: 300;
}

#administeredmedication .daily-visit-select .dropdown-info .dropdown-content li a, .dropdown-info .dropdown-content li span:hover, .dropdown-info .dropdown-content li.active {
  background-color: rgb(223, 175, 64);
}

#administeredmedication .daily-visit-select .dropdown-content li>a, .dropdown-content li>span {
  color: black;
}

#administeredmedication .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
#administeredmedication .shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

#administeredmedication .card-body.daily-visit-forms {
  height: 55.25vh;
}

#administeredmedication #exampleFormControlTextarea1, #exampleFormControlTextarea2 {
  max-height: 5rem;
}
#administeredmedication #exampleFormControlTextarea1 {
  min-height: 1.5rem
}

#administeredmedication #exampleFormControlTextarea2 {
  min-height: 4rem;
}

#administeredmedication .daily-visit-button .btn-outline-info {
    border: 1px solid rgb(223, 175, 64);
    color: black !important;
    background-color: transparent;
}

#administeredmedication  #returnPrimary {
  background-color: rgb(223, 175, 64);
  color: white !important;
}

/* placeholder text for demo */
#administeredmedication ::placeholder {
color: black;
}



/* footer */

#administeredmedication footer.page-footer {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#administeredmedication .page-footer .card {
  height: 12vh;
}

/* media queries for tablets */

@media only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    #administeredmedication  .student-id .card {
      min-height: 60.5vh;
    }
    #administeredmedication  .card-body.daily-visit-forms {
    height: 56vh;
    }
}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    #administeredmedication  .student-id .card {
        min-height: 61.5vh;
        padding-top: .5rem;
    }
    #administeredmedication  .card-body.daily-visit-forms {
        height: 58.25vh;
    }
}

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {
  #administeredmedication  .student-list-collapsed {
    min-height: 67vh;
  }
  #administeredmedication  .student-id .card {
    min-height: 60.75vh;
  }
  #administeredmedication  #exampleFormControlTextarea2 {
    min-height: 2rem;
}
  #administeredmedication  .btn {
    line-height: 0;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 768px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    #administeredmedication  .card-body.daily-visit-forms {
      height: 50.25vh;
  }
    #administeredmedication  #exampleFormControlTextarea1 {
      max-height: 1rem;
  }
    #administeredmedication  #exampleFormControlTextarea2 {
    min-height: 2rem;
}
    #administeredmedication  .btn {
      padding: .85rem 1.13rem;
    }
}
