/* color palette */

/*
whiteLight rgb(255, 255, 255)
blackOnyx rgb(33, 33, 33)
greyDark rgb(117, 117, 117)
greyLight rgb(189, 189, 189)
blueDeep rgb(65, 90, 122)
greenDark rgb(70, 97, 29)
greenMiddle rgb(144, 174, 89)
greenLight rgb(187, 213, 136)
yellowGold rgb(223, 175, 64)
*/

/* navbar additional styling */

.navbar {
    padding-right: 2rem!important;
}

.navbar-brand img {
  height: 2.5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: .5rem;
}

.nav-link {
  color: rgb(117, 117, 117);
}

.nav-link:hover {
  color: rgb(33, 33, 33);
}

.nav-link:active {
  color: rgb(33, 33, 33);
}

/* navbar dropdown color */

.dropdown .dropdown-menu.header-drop .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-primary .dropdown-item:active {
  background-color:  rgb(70, 97, 29); }

/* secondary nav pills */

#returnedjacktoclass .pills-secondary .nav-item .nav-link.active, .tabs-secondary {
  background-color: rgb(144, 174, 89);
}

#returnedjacktoclass .pills-secondary {
  font-size: .9rem;
  font-weight: 400;
}

#returnedjacktoclass .main-content {
  padding-top: .75%;
}

#returnedjacktoclass .main-content .tab-content {
  padding: 0rem 1rem;
}

/*info cards*/

#returnedjacktoclass .student-list {
  padding-right: 10px;
  padding-left: 10px;
}

#returnedjacktoclass .student-list .nav-item .nav-link.active, .tabs-secondary {
  background-color: rgb(223, 175, 64);
}

#returnedjacktoclass .second-level-navpills {
    margin-left: -.5rem;
}

#returnedjacktoclass .student-list .nav-link {
  font-size: .9rem;
  font-weight: 400;
}

#returnedjacktoclass .expecting-general-seen li {
  padding-left: .5rem;
}

#returnedjacktoclass .student-list .card {
  height: 60vh;
}

/* collapse icon in nav */
#returnedjacktoclass #icon-collapse {
  margin-right: -.75rem;
}

/* select */

#returnedjacktoclass .searching-select .dropdown-content li>a, .dropdown-content li>span {
  color: black;
}

#returnedjacktoclass .dropdown-primary .dropdown-content li a, .dropdown-primary .dropdown-content li span:hover, .dropdown-primary .dropdown-content li.active {
  background-color: rgb(70, 97, 29);
}

/* expected students table */

#returnedjacktoclass .table-wrapper-2 {
  display: block;
  max-height: 60vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* expected students table headers */

#returnedjacktoclass table .th-lg {
  min-width: 5rem;
}

/* expected students table select */



/* general tab */

#returnedjacktoclass .md-form {
  margin: 0 10%;
  width: 100%;
}

#returnedjacktoclass .select-wrapper {
  margin: 0 auto;
  width: 50%;
}

/* general-student table */

#returnedjacktoclass .table.general-student {
  max-width: 90%;
  margin: 0 auto;
}


/* Student Id Card 1.1 */

#returnedjacktoclass #student-id-checkincopy .card img {
  max-width: 35%;
}

#returnedjacktoclass .student-id .card {
  min-height: 60vh;
  margin-top: 3.5rem;
  margin-top: 3.5rem;
  padding-top: .5rem;
}

#returnedjacktoclass .student-id .list-group-item {
  font-size: .95rem;
  font-weight: 300;
}

/* footer */

#returnedjacktoclass footer.page-footer {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#returnedjacktoclass .page-footer .card {
  height: 12vh;
}

/* hides/shows #student-list-tablet and #checkin-student-list-large divs
   (note: there are of course more elegant ways to do this but this was the
   fastest way to give you an idea of how it should look) */

@media only screen and (min-width: 1200px) {
    #returnedjacktoclass #checkin-copy-tablet {
      display: none;
    }
}

@media only screen and (max-width: 1200px) {
    #returnedjacktoclass #checkin-copy-large {
      display: none;
    }
}
